DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432


SECRET_KEY = 'secret_key'
DEBUG = False

# Список разрешённых хостов для проекта через пробел:
ALLOWED_HOSTS = '127.0.0.1 localhost '